<% include partials/header %>

<div class="container">
  <div class="row">
    <h1>Index EJS</h1>
    <div>
      <form action="/" method="get">
        <input type="text" name='search' placeholder="Search Term">
        <button class='btn btn-info'>Submit</button>
      </form>
    </div>

    <% include partials/footer %>
  </div>
</div>
